.friendslist-table {
    border:1px solid #ddd;
    width:900px;
    margin: 0 auto;
    padding:0;
    border:1px solid orange;
}

.friendslist-table-header  {
    background:#F4811F;
    color:#fff;
    font-size:1rem;
    font-weight:bold;
    text-transform: uppercase;
    text-align: left;
    align-content: center;
}

.friendslist-table-header td  {
    background:orangered;
    padding:10px 5px;
}

.friendslist-table-items {
    /* background-color: #fff; */
    padding:10px;

    border-bottom:0.5px solid orange;
}

.friendslist-table-items td button {
    /* background-color: #fff; */
    padding:10px;
    background:#000;
    color:black;

}

.friendslist-table-items td {
    padding:15px;
    font-weight: 400;
    font-size:1.3rem;
    text-transform: capitalize;
}

.addfriends {
    display:flex;
    justify-content: space-between;
}

.addfriends-form {
    width:900px;
    /* background:#f5f8fa; */
    font-size:1.5rem;
    margin:0 auto;
    padding-bottom:30px;
}

.friend-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.friend-container div {
    background:#eee;
    width:300px;
    padding:30px;
}

button {
    background:none;
    border:none;
    color:red;
    cursor:pointer;
    padding-bottom: 0;
    margin-bottom: 0;
}